"MessageROSSink" { 
  "#id" : 1, 
  "name" : "sink", 
  "push_sinks" : [  ], 

  // name of the transform tree to subscribe to
  "tf_topic" : "", 
  "topics" : [ "/local_path" ], 
  "types" : [ "PathMessage" ]
 }

"MessagePlatformListenerSink" { 
  "#id" : 2, 
  "name" : "pipeline", 
  "push_sinks" : [ { 
  "#pointer" : 3
 } ], 

  // name of the transform tree to subscribe to
  "tf_topic" : "/tf"
 }

"PathMatrixDijkstraSearch" { 
  "#id" : 4, 
  "cost_polynomial" : [  ], 

  // when to stop the search
  "max_cost" : 1000000, 

  // min distance from an obstacle
  "min_distance" : 316.950012
 }

"PathMatrixDistanceSearch" { 
  "#id" : 5, 

  // squared distance [pixel^2] to stop when performing a search
  "max_distance_squared_pxl" : 1600
 }

"MessageROSSource" { 
  "#id" : 6, 
  "name" : "source", 
  "topics" : [ "/tf" ], 

  // verbose
  "verbose" : 0
 }

"MessageSortedSink" { 
  "#id" : 3, 

  // messages older than this lag that will be blasted, no matta what
  "oblivion_interval" : 5, 
  "push_sinks" : [ { 
  "#pointer" : 7
 } ], 

  // name of the transform tree to subscribe to
  "tf_topic" : "", 

  // lag time to sort messages
  "time_interval" : 0.25, 

  // if set prints crap
  "verbose" : 0
 }

"LocalPathPlanner" { 
  "#id" : 7, 

  // algorithm to compute the cost map
  "cost_map_computator" : { 
    "#pointer" : 4
   }, 

  // local map dimension [pixel]
  "dim_local_window" : 100, 

  // algorithm to compute the distance map
  "distance_map_computator" : { 
    "#pointer" : 5
   }, 
  "push_sinks" : [ { 
  "#pointer" : 1
 } ], 

  // Robot radius
  "robot_radius" : 0.200000003, 

  // name of the transform tree to subscribe to
  "tf_topic" : "", 

  // verbose
  "verbose" : 1, 

  // voxelize res
  "voxelize_res" : 0.00999999978
 }

